<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-stock-details-heading"
        data-cy="StockDetailsCreateUpdateHeading"
        jhiTranslate="breakoutStocksApp.stockDetails.home.createOrEditLabel"
      >
        Create or edit a Stock Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="breakoutStocksApp.stockDetails.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_curPrice" jhiTranslate="breakoutStocksApp.stockDetails.curPrice">Cur Price</label>
          <input type="number" class="form-control" name="curPrice" id="field_curPrice" data-cy="curPrice" formControlName="curPrice" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_priceChange" jhiTranslate="breakoutStocksApp.stockDetails.priceChange">Price Change</label>
          <input
            type="number"
            class="form-control"
            name="priceChange"
            id="field_priceChange"
            data-cy="priceChange"
            formControlName="priceChange"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_changePer" jhiTranslate="breakoutStocksApp.stockDetails.changePer">Change Per</label>
          <input type="number" class="form-control" name="changePer" id="field_changePer" data-cy="changePer" formControlName="changePer" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_stock" jhiTranslate="breakoutStocksApp.stockDetails.stock">Stock</label>
          <select class="form-control" id="field_stock" data-cy="stock" name="stock" formControlName="stock" [compareWith]="compareStock">
            <option [ngValue]="null"></option>
            @for (stockOption of stocksCollection; track $index) {
              <option [ngValue]="stockOption">{{ stockOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
